{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jest", "playwright"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:playwright/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "node_modules/",
    "coverage/",
    "playwright-report/",
    "playwright-results/",
    "dist/"
  ],
  "rules": {
    "no-console": [
      "warn",
      { "allow": ["warn", "error", "info"] }
    ],
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": ["expect", "expectSoft", "expect.poll"]
      }
    ]
  }
}
