node_modules/
*.log
sa.json
gha-creds-*.json

client_secret.json
.client_secret.json


client_secret.json
.client_secret.json
sa.json


# allow GitHub Actions
!.github
!.github/workflows
!.github/workflows/*.yml
